<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Remove the "public" from the URL if entered manually
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    # Block access to .env file, .git, and other sensitive files
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule ^\.git - [F,L,NC]
    RewriteRule ^composer\.(json|lock) - [F,L,NC]
    RewriteRule ^package(-lock)?\.json - [F,L,NC]
    RewriteRule ^webpack\.mix\.js - [F,L,NC]
    RewriteRule ^vite\.config\.js - [F,L,NC]
</IfModule>
